.thing {
    padding: 5px;
    font-size: large;
}

#canvas {
    position: relative;
}

/*Disabling the text selection in htmlpages*/
* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                    supported by Chrome and Opera */
}

#model{
    border: solid red;
    min-height: 400px;
}


md-toast.md-success-toast-theme .md-toast-content {
    background-color: green;
}

md-toast.md-error-toast-theme .md-toast-content {
    background-color: red;
}

.line-height-72 {
    line-height: 72px;
}

.font-size-72 {
    font-size: 72px;
}

.light-blue-fg {
    color: #03A9F4 !important;
}

.padding-top-9 {
    padding-top: 9px;
}

.reading-display {
    text-align: -webkit-right;
    padding-right: 10px;
    color: #03A9F4;
    font-size: 22px;
}

.hayward-textfield {
    display: block;
    padding-top: 15px;
    margin-bottom: 10px;
    position: relative;
}

.dialog {
    font-size: 14px;
}

/*.md-button {
    margin: 6px 8px 6px 8px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;

}

.md-button.md-raised:not([disabled]) {
    text-transform: none;
    width: 60px;
    min-width: 10px;
    margin-right: 2px;
}*/

.centered {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.md-raised {
    text-align: center;
    vertical-align: middle;
}

.avnet-smart-apps {
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.p-10 {
    padding: 10px;
}

.p-10-ball{
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-15 {
    padding: 15px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.circle-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #E6E6E6;
    transition: all ease 0.8s;
}

.material-icons.orange600 {
    color: #FB8C00;
}

.circle-icon-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #E6E6E6;
    transition: all ease 0.8s;
}

.red-b-c {
    background-color: #e22422;
}

.green-b-c {
    background-color: #4fbb0d;
}

.grey-b-c {
    background-color: #9f9f9f;
}

.white-box {
    position: relative;
    margin: 12px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    background-color: #FFF !important;
}

.white-box md-input-container {
    margin: 0px 0;
}

.white-box h3 {
    font-weight: normal;
    margin: 0px;
}

.white-box .speed-value {
    text-align: center;
    font-size: 50px;
    color: #121212;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 64px;
}

.white-box .speed-value span {
    font-size: 20px;
    color: #a7a7a7;
}

.white-box hr {
    border-color: #f1ede5;
}

.levels1 div {
    background: #E6E6E6;
    border-radius: 2px;
}

.noiseIcon {
    background: #E6E6E6;
}

.ledIcon {
    background: #58FA58;
}

.acmIcon {
    background: #58ACFA;
}

.accIcon {
    background: #D7DF01;
}

.img-container{
    position: relative;
    vertical-align: middle !important;
    margin-left: auto;
    margin-right: auto;
    display: table;
}
#img {
    /*height: 100%;*/
    position: relative;
    display: block;
    vertical-align: middle !important;
    margin-left: auto;
    margin-right: auto;
}

#noiseImg {
    font-size: 15px;
    position:absolute;
    top:3%;
    right:3%;
    width: 110px;
    height: 50px;
}

#ledImg {
    position:absolute;
    top:8%;
    right:20%;
}

#tempImg {
    font-size: 15px;
    position:absolute;
    top:3%;
    left:5%;
    width: 110px;
    height: 50px;
}

#battImg {
    font-size: 15px;
    position:absolute;
    top:95%;
    left:48%;
    width: 110px;
    height: 50px;
}

#pressImg {
    font-size: 15px;
    position:absolute;
    top:90%;
    left:5%;
    width: 140px;
    height: 50px;
}

#humImg {
    font-size: 15px;
    position:absolute;
    top:65%;
    right:4%;
    width: 110px;
    height: 50px;
}

#agmImage {
    position:absolute;
    top:90%;
    right:3%;
    width: 110px;
    height: 50px;
    font-size: 15px;

}

.tempDiv:focus{
    outline: 0;
}
.md-tab {
    float: right;
}
md-pagination-wrapper {
    left: initial;
    right: 0;
}

.tabsdemoDynamicHeight md-content {
    background-color: transparent !important; }
.tabsdemoDynamicHeight md-content md-tabs {
    background: white;
    border: 1px solid #e1e1e1; }
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white; }
.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

#toaster {
    position: fixed;
    top: 0;
    height: 48px;
    left: 0;
    width: 100%;
    z-index: 10000;
}

.ng-isolate-scope {
    width: 100%;
    margin-left: -50px;
}


/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: rgba(238, 238, 238, 0);
    color: #444;
    cursor: pointer;
    /*padding: 18px;*/
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;
}

button.accordionBatt {
    background-color: rgba(238, 238, 238, 0);
    color: #444;
    cursor: pointer;
    /*padding: 18px;*/
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {

}

/* Style the accordion panel. Note: hidden by default */
div.panel {

    background-color: white;
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block;
}

button.accordion:after {
    font-family: FontAwesome;
    content: "\f054  ";
    font-size: 13px;
    color: #777;
    /* float: right; */
    margin-left: 5px;
    position: absolute;
    right: 23px;
    top: 18px;
}

button.accordion.active:after {
    content: "\f078 "; /* Unicode character for "minus" sign (-) */
}

.inner-accordion {
    background-color: #f3eeee !important;
    padding: 12px 0px 12px 9px;
    margin-bottom: 15px;
}

#canvas img{
position: relative;
width: 100%;
/*!*top: 50%;*!*/
/*!*left: 50%;*!*/
/*!*margin-top: -50px;*!*/
/*!*margin-left: -50px;*!*/
/*!*width: 50%;*!*/
}
